* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position: relative;
    background: url('./hero.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    text-align: center;
    background: #ff7f50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}
